<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__copy">2020&copy; EditorMate. All rights reserved</div>
		<div class="footer__col">
			<h2 class="footer__title">Navigate</h2>
			<a class="footer__link" href="./">Contacts (brief)</a>
			<a class="footer__link" href="./">Press inquiries</a>
			<a class="footer__link" href="./">Privacy policy</a>
		</div>
		<div class="footer__col">
			<h2 class="footer__title">Social</h2>
			<a class="footer__link" href="./">WhatsApp</a>
			<a class="footer__link" href="./">Telegram</a>
			<a class="footer__link" href="./">Instagram</a>
			<a class="footer__link" href="./">E-mail</a>
		</div>
	</div>
</footer> 

@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>