@@if(this.parent) { <div class="@@parent gallery container"> }
@@if(!this.parent) { <section class="gallery container"> }
	<h2 class="gallery__title">@@title</h2>
	<div class="gallery__slider swiper">
		<div class="swiper-wrapper">
			@@if(this.slides) {
				@@for (let i = 0; i < slides.length; i++) {
					<a 
						href="`+((slides[i].href)?('./images/'+slides[i].href):'./')+`" 
						class="gallery__slide swiper-slide" 
						`+((typeof this.fancybox !=='undefined')?('data-fancybox='+this.fancybox):'')+` 
					>
						<img src="./images/`+slides[i].url+`" alt="">
						`+((slides[i].name)?('<h3>'+slides[i].name+'</h3>'):'')+`
					</a>
				}
			}
		</div>
		<div class="gallery__navi">
			<button class="gallery__button gallery__button_prev">
				<svg><use xlink:href="#icon-left"></use></svg>
			</button>
			<button class="gallery__button gallery__button_next">
				<svg><use xlink:href="#icon-right"></use></svg>
			</button>
		</div>
	</div>
@@if(this.parent) { </div> }
@@if(!this.parent) { </section> }