.gallery {
	$self: &;
	border-top: 3px solid rgb(var(--color));
	padding-top: 14px;
	margin-bottom: 90px;

	&__title {
		font-weight: 500;
		margin-bottom: 35px;
		display: flex;
		color: rgb(var(--color));
		font-size: 40px;
		@include range(40px, 30px, 1280px, 480px);

		&::before {
			content: '[ ';
		}
		
		&::after {
			content: ' ]';
			margin-left: auto;
		}
	}

	&__slider {
		padding-left: 16px;
		padding-right: 16px;
		margin-left: -16px;
		margin-right: -16px;
		
		@include media('<=xs') {
			padding-left: 20px;
			padding-right: 20px;
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	&__slide {
		display: block;
		overflow: hidden;
		border-radius: 12px;
		text-decoration: none;
		position: relative;
		color: #fff;
		outline: none;

		img {
			display: block;
		}

		h3 {
			display: flex;
			position: absolute;
			text-align: center;
			align-items: center;
			justify-content: center;
			z-index: 1;
			inset: 0px;
			font-size: 40px;
			text-transform: uppercase;
			background-color: rgba(0, 0, 0, 0.3);
			transition: background-color 0.3s;
			
			&:hover {
				background-color: rgba(0, 0, 0, 0);
			}
		}
	}

	&__navi {

	}

	&__button {
		@extend %reset-button;
		position: absolute;
		transform: translateY(-50%);
		z-index: 2;
		top: 50%;
		width: 46px;
		height: 46px;
		overflow: hidden;
		background-color: #808080;
		border-radius: 1000px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		&::before {
			display: block;
			content: '';
			position: absolute;
			inset: 0px;
			background: linear-gradient(120deg, #e2eb42, #ff0048);
			transition: opacity 0.3s;
			z-index: 1;
		}
		
		@include media('<=xs') {
			width: 36px;
			height: 36px;
		}
		
		@include media('<=xxs') {
			display: none;
		}
		
		&:disabled::before {
			opacity: 0;
		}
		
		svg {
			width: 13px;
			height: 23px;
			fill: #fff;
			position: relative;
			z-index: 2;
			
			@include media('<=xs') {
				width: 11px;
				height: 18px;
			}
		}

		&_prev {
			left: 0;
		}
		
		&_next {
			right: 0;
		}
	}
}