.gallery {
	$self: &;
	border-top: 3px solid #000;
	padding-top: 14px;

	&__title {
		font-weight: 500;
		margin-bottom: 35px;
		display: flex;
		font-size: 40px;
		@include range(40px, 30px, 1280px, 480px);

		&::before {
			content: '[ ';
		}
		
		&::after {
			content: ' ]';
			margin-left: auto;
		}
	}

	&__slider {
		padding-left: 16px;
		padding-right: 16px;
		margin-left: -16px;
		margin-right: -16px;
		
		@include media('<=xs') {
			padding-left: 10px;
			padding-right: 10px;
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	&__slide {
		display: block;
		overflow: hidden;
		border-radius: 12px;

		img {
			display: block;
		}
	}

	&__navi {

	}

	&__button {
		@extend %reset-button;
		position: absolute;
		transform: translateY(-50%);
		z-index: 2;
		top: 50%;
		width: 46px;
		height: 46px;
		background-color: #000;
		border-radius: 1000px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
		
		@include media('<=xs') {
			width: 36px;
			height: 36px;
		}
			
		@include media('<=xxs') {
			display: none;
		}

		&:disabled {
			background-color: #808080;
		}

		svg {
			width: 13px;
			height: 22px;
			fill: #fff;
			
			@include media('<=xs') {
				width: 11px;
				height: 18px;
			}
		}

		&_prev {
			left: 0;
		}
		
		&_next {
			right: 0;
		}
	}
}