@import "lib/additional.scss"; 
@include reset();

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


// @include font-face("Montserrat-ExtraLight", "MR", 200);
// @include font-face("Montserrat-ExtraBold", "MR", 800);
@include font-face("Teko-SemiBold", "TS", 600);
@include font-face("Teko-Regular", "TS", 400);
@include font-face("Teko-Medium", "TS", 500);
@include font-face("Teko-Light", "TS", 300);
// @include font-face("Montserrat-Black", "MR", 900);
@include font-face("Teko-Bold", "TS", 700);
// @include font-face("Montserrat-Thin", "MR", 100);

@import "../../node_modules/swiper/swiper";
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--size: #{$basesize}px;
	--container: 1200px;
	--bgcolor: 250, 250, 250;
	--color: 17, 17, 17;
	--gap: 16px;
	
	@include media('<=xs') {
		--gap: 20px;
	}

	&[data-theme="dark"] {
		--bgcolor: 17, 17, 17;
		--color: 255, 255, 255;
	}
}


body, html {
	// scrollbar-gutter: stable;
	// scroll-behavior: smooth;	
	box-sizing: border-box;
	background-color: rgb(var(--bgcolor));
	color: rgb(var(--color));
	font-size: var(--size);
	font-family: "TS", sans-serif;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

body {
	padding-top: 103px;
}

.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes showItem {
	from { opacity: 0; }
	to { opacity: 1; }
}

.has-html5video .fancybox__content {
	width: auto;
	height: auto;
}