.form {
	$self: &;
		
	input[type='checkbox'] {
		@extend %reset-input;
		box-sizing: border-box;
		display: inline-flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		border: 3px solid rgb(var(--color));
		border-radius: 15px;
		cursor: pointer;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		@include range(40px, 30px, 1280px, 480px, 'width');
		@include range(40px, 30px, 1280px, 480px, 'height');
		@include range(15px, 10px, 1280px, 480px, 'border-radius');
		
		&:checked::before {
			display: block;
			content: '';
			width: 65%;
			height: 50%;
			background: url('#{$images-path}check.svg') center / contain no-repeat transparent;
			animation: showItem 0.1s linear;
		}
	}

	legend {
		color: rgb(var(--color));
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 40px;
	}

	fieldset {
		display: block;
		box-sizing: border-box;
		border: none;
		padding: 0;
		margin: 0;
		margin-bottom: 50px;
	}

	&__field {
		@extend %reset-input;
		box-sizing: border-box;
		display: block;
		width: 100%;
		border: 3px solid rgb(var(--color));
		color: rgb(var(--color));
		border-radius: 15px;
		padding: 10px 18px;
		font-weight: 500;
		min-height: 80px;
		font-size: 30px;
		@include range(30px, 25px, 1280px, 480px);
			
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&::placeholder {
			color: #7F7F7F;
		}

		&[name="form_region"] {
			@include hide();
		}
	}

	&__check {
		display: flex;
		align-items: center;
		font-weight: 300;
		line-height: 0.9;
		font-size: 35px;
		@include range(35px, 25px, 1280px, 480px);
		
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		
		input[type='checkbox'] {
			margin-right: 55px;
			
			@include media('<=sm') {
				margin-right: 22px;
			}
		}
	}

	&__agree {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
		font-size: 30px;
		font-weight: 300;
		line-height: 0.9;
		
		input[type='checkbox'] {
			margin-right: 30px;
		}
	}
	
	&__select {
		
	}
	
	&__area {
		@extend %reset-input;
		min-height: 160px;
		resize: none;
		font-weight: 300;
		line-height: 1.0;
	}

	&__alert {
		font-weight: 300;
		font-size: 30px;
		padding-bottom: 1px;
		margin-bottom: 24px;
		
		&_error {
			color: #f00;
		}
		
		&_success {
			color: #0f0;
		}
	}

	&__submit {
		@extend %reset-button;
		font-size: 30px;
		font-family: "TS", sans-serif;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		background: linear-gradient(130deg, rgba(227,234,67,1) 0%, rgba(255,0,72,1) 100%);
		border-radius: 15px;
		line-height: 1.0;
		font-size: 55px;
		min-height: 70px;

		&.pending {
			font-size: 0;
			color: transparent;
			text-indent: -999em;
		}
	}
}